/* Global */
:root {
    /* Background Colors */
    --Turquoise: #30D5c8;
    --LightSlateGray: #778899;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--LightSlateGray);
}

.navbar {
    background-color: var(--Turquoise);
}